/* fraunces-regular - latin */

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Serif SC';
  font-style: normal;
  font-weight: 600;
  // font-feature-settings: "palt";
  src: url('../fonts/Fraunces9pt-Regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Serif SC';
  font-style: normal;
  font-weight: 600;
  // font-feature-settings: "palt";
  src: url('../fonts/noto-serif-sc-v34-chinese-simplified_latin_latin-ext-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


/* commissioner-regular - latin */
@font-face {
  font-family: 'inter';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/inter-v20-latin-regular.woff2') format('woff2');
}

/* commissioner-italic - latin */
@font-face {
  font-family: 'inter';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('../fonts/inter-v20-latin-italic.woff2') format('woff2');
}

// /* 2. 再定义中文 (Noto Sans SC) */
// @font-face {
//   font-family: 'Commissioner';
//   font-style: normal;
//   font-weight: 400;
//   font-display: swap;
//   // font-feature-settings: "palt";
//   /* 负责剩下的汉字 */
//   src: local('Noto Sans SC'), local('Source Han Sans SC'),
//        url('../fonts/noto-sans-sc-v39-chinese-simplified_latin_latin-ext-regular.woff2') format('woff2');
// }